.title {
  text-align: center;
  font-size: clamp(2px, calc(24px + 1vw), 100px);
  margin-bottom: 10px;
  font-weight: 600;
  object-position: 45% 55%;
  height: 225px;
  margin-top: 10px;
}

.separator-container {
  display: flex;
  justify-content: center;
  vertical-align: center;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.seperator {
  background-color: var(--secondary-color);
  font-size: 1px;
  height: 15px;
  width: 75vw;
  text-align: center;
  border: solid 2px var(--accent-color);
  border-radius: 10px;
  display: block;
}

.construction-warning {
  text-align: center;
  margin: 50px 75px;
  font-size: 20px;
  font-weight: 600;
}

.polling-button {
  margin: 15px 10px;
  margin-bottom: 10px;
  color: var(--black-text-color);
  width: 90vw;
  text-align: center;
  height: 80px;
  transition: width 0.3s, background-color 0.3s, height 0.3s, border 0.3s, opacity 0.3s;
  border-radius: 10px;
  background-color: var(--primary-color);
  border: dashed 6px var(--accent-color);
  font-size: clamp(12px, 3vw, 35px);
}

.polling-button:hover{
  width: 100vw;
  height: 90px;
  cursor: pointer;
  opacity: 85%;
  background-color: var(--accent-color);
}

.polling-button:hover .polling-words{
  color: var(--primary-color)
}

.polling-words{
  color: var(--sickly-primary);
}

