.election-countdown-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.election-countdown {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 30px 30px 30px;
  height: 120px;
  background-color: var(--primary-color);
  color: var(--black-text-color);
  font-size: clamp(20px, 8.5vw, 60px);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  border-radius: 20px;
  border: outset 5px var(--accent-color);
}

.election-countdown-text-notifier {
  text-align: center;
  margin-top: -10px;
  font-weight: bold;
  font-size: 20px;
}

.election-countdown {
  cursor: pointer;
}