.footer {
  display: flex;
  position: absolute;
  background-color: var(--secondary-color);
  bottom: 0px;
  right: 0px;
  left: 0px;
  height: 100px;
  align-items: center;
  justify-content: center;
  border-top: solid 3px var(--accent-color);
  z-index: 1;
}

.horizontal-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 350px;

}

.vertical-container {
  display: flex;
  flex-direction: column; 
  text-align: center;
  vertical-align: center;
  align-items: center;
  height: 100%;
}

.footer-text {
  margin-bottom: 5px;
}

.footer-text:hover {
  text-decoration: underline;
  cursor: pointer;
}