html {
  scrollbar-color: var(--primary-color) var(--sickly-primary);
  scrollbar-width: auto;
  scroll-behavior: smooth;
}

body {
  position: relative;
  font-family: var(--global-font);
  color: var(--black-text-color);
  background-color: var(--background-color);
  margin-top: 0px;
  margin-left: 0;
  margin-right: 0;
  min-height: 100vh;
  margin: 0;
  padding-bottom: 80px;
  padding-top: 75px;
  padding-bottom: 125px;
  -webkit-user-drag: none;
}

p {
  margin: 0;
  font-family: var(--global-font);
  color: var(--black-text-color);
}

a {
  display: inline;
  width: 100%;
  height: 100%;
  align-items: center;
  font-size: inherit;
  color: inherit;
  text-decoration: none;
  font-family: var(--global-font);
}

button {
  font-family: var(--global-font);
}

:root {
  --primary-color: rgb(186, 94, 62);
  --secondary-color: rgb(109, 130, 99);
  --inverted-secondary: rgb(78, 89, 73);
  --sickly-primary: rgb(20, 8, 4);
  --background-color: rgb(247, 243, 236);
  --accent-color: rgb(201, 155, 73);
  --black-text-color: rgb(45, 35, 28);
  --white-text-color: rgb(255, 255, 255);
  --card-black-gradient: rgba(0, 0, 0, 0.2);
  --global-font: archivo black;
}

@media (prefers-color-scheme: dark) {
  :root {
  --primary-color: rgb(105, 68, 56);
  --secondary-color: rgb(78, 89, 73);
  --inverted-secondary: rgb(109, 130, 99);
  --sickly-primary: rgb(15, 9, 7);
  --background-color: rgb(42, 38, 35);
  --accent-color: rgb(158, 129, 79);
  --black-text-color: rgb(252, 246, 238);
  --card-black-gradient: rgba(0, 0, 0, 0.8);
  }
}

.skeleton {
  background-color: #555 !important; /* Slightly lighter than your dark theme */
  background-image: linear-gradient(
    90deg, 
    rgba(255, 255, 255, 0) 0%, 
    rgba(255, 255, 255, 0.1) 20%, 
    rgba(255, 255, 255, 0.3) 60%, 
    rgba(255, 255, 255, 0) 100%
  ) !important;
  background-size: 200% 100% !important;
  animation: shimmer 1.5s infinite linear !important;
  color: transparent !important;
  border: none !important;
  pointer-events: none; 
}

@keyframes shimmer {
  0% { background-position: 100% 0; }
  100% { background-position: -100% 0; }
}