.header {
  display: flex;
  background-color: var(--primary-color);
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 10px;
  height: 45px;
  width: 100%;
  padding-left: 5px;
  border-bottom: solid 3px var(--accent-color);
  justify-content: center;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10000;
}

.middle {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  margin-left: 4.8675vw;
}

.left {
  display: flex;
  width: 50px;
  margin: 0;
  margin-right: 4.8675;
}

.right {
  display: flex;
  vertical-align: center;
  width: 240px;
  overflow: hidden;
  margin: 0;
}

.drop-down-burger {
  display: flex;
  align-items: center;
}

.burger {
  height: 30px;
  width: 30px;
  cursor: pointer;
}

.mission {
  font-weight: 550;
  font-size: clamp(6px, 1.5vw, 54px);
  text-align: center;
}

.middle:hover {
  text-decoration: underline;
  text-decoration-color: var(--black-text-color);
}

.middle a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.donate-button {
  background-color: var(--inverted-secondary);
  color: var(--black-text-color);
  height: 100%;
  border: 5px solid transparent;
  border-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25'><rect width='100%25' height='100%25' fill='none' stroke='%23333' stroke-width='3' stroke-dasharray='10, 5' stroke-dashoffset='0' stroke-linecap='square'/></svg>") 0.5;
  width: 100%;
  font-size: clamp(15px, 10vh, 20px);
  font-family: serif;
  border-radius: 4px;
  margin-right: 6px;
  transition: border-image 0.1s;
  transition: border 0.1s;
}

.donate-button:hover {
  border: 3px solid transparent;
  border-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25'><rect width='100%25' height='100%25' fill='none' stroke='%23333' stroke-width='3' stroke-dasharray='10, 5' stroke-dashoffset='0' stroke-linecap='square'/></svg>") 1;
  opacity: 90%;
}

.donate-button:active {
  opacity: 60%;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -40px;
}

.title-graphic {
  margin: 0;
  height: 175px;
  width: min(700px, 90vw);
  object-position: 56% 44%;
  object-fit: cover;
}