.summary {
  text-align: center;
}

.summary-title {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 32px;
  padding-top: -10px;
}

.summary-text {
  padding-top: 10px;
}

.default-link {
  color: var(--accent-color)
}

.default-link:hover {
  text-decoration: underline;
}

.summary-text {
  padding-top: 15px;
}

.extra-info {
  text-align: left;
  padding-left: 30px;
  padding-top: 20px;
}

.absent-list, .absentees {
  display: inline-block;
}